<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Заказ успешно выполнен</h2>
        <p>Вы можете проверить все свои заказы в разделе Заказы вашего профиля</p>
        <hr/>
        <p>Спасибо!</p>
    </div>
</div>
