<div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center">
        <h2>Вам не разрешен доступ к этой странице</h2>
        <p> Пожалуйста, нажмите на кнопку ниже, чтобы перейти на домашнюю страницу</p>
        <hr />
        <p><a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Домашняя страница</a></p>
    </div>
</div>

