<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Ваша учетная запись была успешно создана</h2>
        <p>Теперь вы можете войти в свою учетную запись, используя свои учетные данные</p>
        <hr/>
        <p>Спасибо!</p>
    </div>
</div>
